[Unit]
Description=Immich Redis Cache

[Container]
Image=docker.io/valkey/valkey:8-bookworm@sha256:facc1d2c3462975c34e10fccb167bfa92b0e0dbd992fc282c29a61c3243afb11
ContainerName=immich_redis
Pod=immich.pod

HealthCmd=redis-cli ping
HealthInterval=10s
HealthTimeout=5s
HealthRetries=3

[Install]
WantedBy=default.target